<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.dao.LoginMapper">

    <!--  根据用户名no找用户-->
    <select id="findUserByName" parameterType="string" resultType="com.cc.entity.User">
        select  * from t_user where no = #{name}
    </select>
    <select id="findRoleByName" parameterType="string" resultType="string">
           select r.name from t_user u
		inner join t_userrole ur
		on u.id=ur.uid
		inner join t_role r
		on ur.rid=r.id
		where u.no=#{name}
    </select>

    <select id="findPermissionByName" parameterType="string" resultType="string">

    </select>


</mapper>